.footer {
    font-size: 12px;
    background-color: #f8f8f8;
    bottom: 0;
    width: 100%;
    position: fixed;
    color: #777;
}

.footer hr {
    margin: 10px 0;
}

.footer-top {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    text-align: center;
}

.footer-top .row {
    margin: 0 25%;
}

.copyrights {
    background: #e7e7e7;
    border-top: 1px solid #7777;
}

#copyrights-text {
    margin: 5px auto;
}