body {
		background: url("https://images.unsplash.com/photo-1497215842964-222b430dc094?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=48fe9f87e4a3344a46e80ddf5c3bdfa6&auto=format&fit=crop&w=1350&q=80") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
		font-family: 'Lato', sans-serif;
		color: white;
		min-height: 100%;
        margin: 0;

}

html {
    min-height: 100%;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

.row .container .well {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.jumbotron p {
    margin: 0 auto;
    left: 50%;
    padding-top: 50px;;
    font-size: 20px;
}

.content {
    text-align: center;
    padding-top: 20px;
}

.content .jumbotron {
    background-color: rgba(0, 0, 0, 0.2);
}

h1 {
	font-weight: 700;
	font-size: 36px;
}

hr {
    /*margin-top: 15%;*/
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar {
    background: #f8f9fa;
    -webkit-box-shadow:0px 1px 1px #f8f8f8;
    -moz-box-shadow:0px 1px 1px #f8f8f8;
    box-shadow:0px 1px 1px #f8f8f8;
}


.item-1, 
.item-2, 
.item-3 {
	position: fixed;
    display: block;
    width: 50%;
    font-size: 2em;
	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

.login-register {
    margin: 5px 10px;
}

#auth-message {
    height: 50px;
    text-align: center;
    width: 100%;
}

#animate-text-container {
    height: 80px;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
      8.3%,25% { left: 25%; opacity: 1; }
      33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
      41.63%, 58.29% { left: 25%; opacity: 1; }
      66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
      74.96%, 91.62% { left: 25%; opacity: 1; }
      100% { left: 110%; opacity: 0; }
}