body {
		background: url(https://images.unsplash.com/photo-1497215842964-222b430dc094?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=48fe9f87e4a3344a46e80ddf5c3bdfa6&auto=format&fit=crop&w=1350&q=80);
		background-size: cover;
		background-position: center;
		font-family: 'Lato', sans-serif;
		color: white;
		height: 100%;
        margin: 0;
}

html {
    height: 100%;
    width: 100%;
    position: fixed;
}

.jumbotron p {
    margin: 0 auto;
    left: 50%;
}

#content {
    margin: auto;
    width: 70%;
    padding-top: 10%;
    text-align: center;
}

#content .jumbotron {
    background-color: rgba(0, 0, 0, 0.2);
}

h1 {
	font-weight: 700;
	font-size: 36px;
}

hr {
    margin-top: 8%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}

.navbar {
    background: #f8f9fa;
    -webkit-box-shadow:0px 1px 1px #f8f8f8;
    -moz-box-shadow:0px 1px 1px #f8f8f8;
    box-shadow:0px 1px 1px #f8f8f8;
}


.item-1, 
.item-2, 
.item-3 {
	position: absolute;
    display: block;
    width: 50%;
    font-size: 2em;
	animation-duration: 15s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
}

.item-1{
	animation-name: anim-1;
}

.item-2{
	animation-name: anim-2;
}

.item-3{
	animation-name: anim-3;
}

@keyframes anim-1 {
	0%, 8.3% { left: -100%; opacity: 0; }
      8.3%,25% { left: 25%; opacity: 1; }
      33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
	0%, 33.33% { left: -100%; opacity: 0; }
      41.63%, 58.29% { left: 25%; opacity: 1; }
      66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
	0%, 66.66% { left: -100%; opacity: 0; }
      74.96%, 91.62% { left: 25%; opacity: 1; }
      100% { left: 110%; opacity: 0; }
}