    <footer class="footer">
        <div class="footer-top">
          <div class="row text-center">
            <div class="col-sm text-center">
                <a href="https://www.linkedin.com/in/anna-le%C5%9Bniak-90b3b5166/" target="_blank"><i class="fab fa-linkedin"></i> Ania</a>
            </div>
            <div class="col-sm text-center">
                <a href="https://www.linkedin.com/in/kamil-boksa-b80869166/" target="_blank"><i class="fab fa-linkedin"></i> Kamil</a>
             </div>
              <div class="col-sm text-center">
                 <a href="https://github.com/Leanka/Trello" target="_blank"><i class="fab fa-github"></i> Github</a>
             </div>
          </div> 
        </div>
        <div class="copyrights">
         <div class="row text-center">
         	<div id="copyrights-text" class="col-sm">Copyright © Trelolo Team 2018 All rights reserved</div>
         </div>
        </div>
    </footer>
  </body>
</html>


