
  <% include ../partials/landing-header %>
	<div class="content container">
        <div class="jumbotron">
          <h1 class="display-4">Welcome to TRELOLO!</h1>
          <div id="auth-message" class="container">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
          </div>
          <div id="animate-text-container">
            <p class="item-1">Work more efficiently.</p>
            <p class="item-2">Plan your projects in a simple way.</p>
            <p class="item-3">Top app of 2018 according to Non-Existen Journal</p>
          </div>
          <p class="lead">
            <hr class="my-4">
            <a class="btn btn-primary btn-lg continue" href="/home" role="button">Continue</a>
          </p>
        </div>
	</div>
  <% include ../partials/footer %>